<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="DataDirectory" value="C:\Eleos\New\" />
    <!--Smtp Server IP Address-->
    <add key="EmailServer" value="192.168.100.8" />
    <!--FROM Email Address-->
    <add key="EmailFromAddress" value="service@aos.biz" />
    <!--Default TO Email-->
    <add key="DefaultEmailAddress" value="cthomas@aos.biz;kcampbell@aos.biz" />
    <!--"TO" Email for Documents-->
    <add key="DocumentEmailAddress" value="cthomas@aos.biz;kcampbell@aos.biz" />
    <!--"TO" Email for non-documents, FormType+"EmailAddress"-->
    <add key="LoadPicsEmailAddress" value="cthomas@aos.biz;kcampbell@aos.biz" />
    <!--"TO" Email for non-documents, FormType+"EmailAddress"-->
    <add key="22-ACCIDENTEmailAddress" value="cthomas@aos.biz;kcampbell@aos.biz" />
  </appSettings>
</configuration>